<!--<div class="container-fluid" *ngIf="dataList">-->

<!--  <h1 class="text-center my-3 my-md-5"> List of objects</h1>-->
<!--  <div class="row">-->
<!--    <div class="col-md-4 mb-3" *ngFor="let list of dataList">-->

<!--      <div class="card mx-auto object-card"  >-->
<!--        <img class="card-img-top" src="..." alt="Card image cap">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">{{list.name}}</h5>-->
<!--          <a [routerLink]="'/object/' + list.id" class="btn btn-primary">Go somewhere</a>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="wrapper">

  <!-- Sidebar -->
<app-lists *ngIf="dataList" [dataInput]="dataList"></app-lists>

  <!-- Page Content -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

<!--        <button type="button" id="sidebarCollapse" class="btn btn-info">-->
<!--          <i class="fas fa-align-left"></i>-->
<!--          <span>Toggle Sidebar</span>-->
<!--        </button>-->
        <router-outlet></router-outlet>

      </div>
    </nav>
  </div>

</div>

