#sidebar {
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;
}

#sidebar.active {
  margin-left: -300px;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -300px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}
